<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/display.css">
        <title>Robot Image Server</title>
    </head>
    <body>
        <h1>Robot Image Server</h1>
        <a class="button" id="exitbutton" href="/exit">Exit</a>
        <a href="#" onclick="$.get('/control/start')">Start</a> <a href="#" onclick="$.get('/control/stop')">Stop</a><br>
        <div id="video"><img src="{{ url_for('display') }}"></div>
    </body>
</html>
